*{
		margin: 0;
		padding:0;
	

}

html{
		height: 100%;

}

body{
		height: 100%;
		background: radial-gardient(white, rgb(236,236,236));
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
}

#suche {
  border: 2px solid #999;
  border-radius: 0.5em;;
  font-size: 1.2em;
  width: 10em;
  transition: width 0.5s ease-in-out;
  }
  
  #suche:focus {
  font-size: 1.5em;
  width: 50%;
  }
  
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 30px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;

}


.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: verdana;
  font-size: 28px
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}